@tailwind base;
@tailwind components;
@tailwind utilities;


:root,
#root,
#docs-root{
    --primary-1: rgb(245, 75, 100);
    --primary-2: rgb(247, 131, 97);
    --secondary: rgb(255, 212, 40);
    --dark-grey: rgb(78, 88, 110);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --dark-blue: rgb(36, 42, 56);
    --light-black: rgba(0, 0, 0, 0.5);
}

input::file-selector-button{
    display: none;
}